@using Jarvis.Shared.Components.Loader
@using Jarvis.Technical

@inherits BlazorComponentBase

@if (HasPendingAction)
{
    <div class="dot pending d-flex" @onclick=OnStatusChangeRequested>
        <div class="align-self-center">
            <div class="spinner-border" role="status" />
        </div>
    </div>
}
else
{
    if (IsActive)
    {
        <div class="dot active d-flex" @onclick=OnStatusChangeRequested>
            <div class="align-self-center">
            </div>
        </div>
    }
    else
    {
        <div class="dot inactive d-flex" @onclick=OnStatusChangeRequested>
            <div class="align-self-center">
            </div>
        </div>
    }
}

<div class="cart-title">
    @Title
</div>
<div class="cart-subtitle">
    @Subtitle
</div>
