@page "/downloads"

@inherits Jarvis.BlazorPageComponentBase

<PageTitle>@PageTitle</PageTitle>

@if (DownloadsViewModel == null)
{
    <div class="loader container d-flex">
        <div class="align-self-center">
            <div class="spinner-border" role="status" />
        </div>
    </div>
}
else
{
    <div class='row'>
        <div class="col-12">
            <input id="@nameof(DownloadsViewModel.SearchPattern)" @bind="DownloadsViewModel.SearchPattern" @bind:event="oninput" class="form-control" placeholder="Search" />
        </div>
    </div>

    @if (DownloadsViewModel.IsLoading)
    {
        @*        <div class="loader">
            <div class="align-self-center">
            <div class="spinner-border" role="status" />
            </div>
            </div>*@
        <div>Loading...</div>
    }
    else
    {
        <div>Not Loading.</div>
    }
    @*    <div class="box">
        <div class="one">One</div>
        <div class="two">Two</div>
        <div class="three">Three</div>
        </div>
    *@

}
