@inherits LayoutComponentBase

@using Lib.ApiServices.Tmdb
@using Microsoft.AspNetCore.WebUtilities;
@using System.Globalization
@using Microsoft.Extensions.Options

<CascadingValue Value="AppName">
    <PageTitle>@AppName.ToUpperInvariant()</PageTitle>
    <div>
        <div class="top-row">
            <a href="#">@AppName.ToUpperInvariant()</a>
        </div>

        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main class="content">
                @Body
            </main>
        </div>
    </div>
</CascadingValue>
