@inherits LayoutComponentBase

@using Microsoft.AspNetCore.WebUtilities;
@using System.Globalization

<CascadingValue Value="AppName">
    <PageTitle>@AppName.ToUpperInvariant()</PageTitle>
    <div>
        <div class="top-row">
            <a href="#">@AppName.ToUpperInvariant()</a>
        </div>

        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <main class="content px-4">
                @Body
            </main>
        </div>
    </div>
</CascadingValue>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public AppSettings AppSettings { get; set; }

    public string AppName { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppName = AppSettings.appName;

        if (QueryHelpers.ParseQuery(new Uri(NavigationManager.Uri).Query).TryGetValue("lang", out var paramLang))
        {
            CultureInfo culture;

            try
            {
                culture = new CultureInfo(paramLang);
            }
            catch
            {
                culture = new CultureInfo("en");
            }
            
            CultureInfo.DefaultThreadCurrentCulture = culture;
            CultureInfo.DefaultThreadCurrentUICulture = culture;
        }
    }
}