@inherits BlazorComponentBase

@if (Show)
{
@*    <div class="modal fade show @AdditionalCssClass" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                @if (Title != null)
                {
                    <div class="modal-header">
                        @Title
                    </div>
                }

                @if (Body != null)
                {
                    <div class="modal-body">
                        @Body
                    </div>
                }
            </div>
        </div>
    </div>*@
}